<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>verism.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>de.verism.server.file.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileDownloadServlet</servlet-name>
    <servlet-class>de.verism.server.file.FileDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownloadServlet</servlet-name>
    <url-pattern>/verism/FileDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JSONServiceImpl</servlet-name>
    <servlet-class>de.verism.server.json.JSONServiceImpl
      </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSONServiceImpl</servlet-name>
    <url-pattern>/verism/json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProjectServiceImpl</servlet-name>
    <servlet-class>de.verism.server.database.ProjectServiceImpl
      </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectServiceImpl</servlet-name>
    <url-pattern>/verism/project</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccountServiceImpl</servlet-name>
    <servlet-class>de.verism.server.database.AccountServiceImpl
      </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountServiceImpl</servlet-name>
    <url-pattern>/verism/account</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>remoteLogging</servlet-name>
    <servlet-class>com.google.gwt.logging.server.RemoteLoggingServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remoteLogging</servlet-name>
    <url-pattern>/verism/remote_logging</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CacheFilter</filter-name>
    <filter-class>de.verism.server.CacheFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CacheFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>